<?xml version="1.0" ?>
<robot>
    <gazebo reference="Camara">
        <sensor type="depth" name="depth_camera">
            <pose>0 0 0 0 0 0</pose>
            <visualize>true</visualize>
            <update_rate>30.0</update_rate>
            <camera>
                <horizontal_fov>2</horizontal_fov>
                <image>
                    <width>1920</width>
                    <height>1080</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.1</near>
                    <far>50.0</far>
                </clip>
            </camera>
            <plugin name="depth_camera_controller" filename="libgazebo_ros_camera.so">
                <frame_name>odom</frame_name>
            
            </plugin>
        </sensor>
    </gazebo>
</robot>