<?xml version="1.0"?>
<robot>

   <gazebo>
      <plugin name="skid_steer_drive" filename="libgazebo_ros_diff_drive.so">
                  
         
         <!-- <update_rate>30</update_rate> -->
         <num_wheel_pairs>2</num_wheel_pairs>
         
         <left_joint>revolute_left_wheel</left_joint>
         <right_joint>revolute_right_wheel</right_joint>
         <left_joint>revolute_back_left_wheel</left_joint>
         <right_joint>revolute_back_right_wheel</right_joint>

         <wheel_separation>0.725</wheel_separation>
         

         <wheel_diameter>0.4</wheel_diameter>
         

         <max_wheel_torque>20</max_wheel_torque>
         <max_wheel_acceleration>1.0</max_wheel_acceleration>

         <odometry_frame>odom</odometry_frame>
         <robot_base_frame>base_link</robot_base_frame>

         <publish_odom>true</publish_odom> 
         <publish_odom_tf>true</publish_odom_tf> 
         <publish_wheel_tf>false</publish_wheel_tf>

      </plugin>
   </gazebo>
</robot>

